@mixin absolute($top: initial, $left: initial, $bottom: initial, $right: initial) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin fixed($top: initial, $left: initial, $bottom: initial, $right: initial) {
    position: fixed;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
