section.hero
    
    .container
    
        h1.hero__title We solve your&nbsp;problems
        
        p.hero__dscr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit. Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
        
<!-- End hero block-->
