.hero {
    padding: 157px 0 99px;
    background: url(../../images/hero/main-bg.jpg);
    background-position: center;
    background-size: cover;

    @media #{$S} {
        padding-top: 140px;
    }

    &__title {
        max-width: 380px;
        margin: 0 auto 84px;
        font-size: 48px;
        line-height: 58px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        color: $text-color-1;

        @media #{$S} {
            margin-bottom: 44px;
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__dscr {
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        text-align: center;
        color: $text-color-1;
    }
}
