$XS: "only screen and (max-width : 575px)";
$S:  "only screen and (max-width : 767px)";
$M:  "only screen and (max-width : 991px)";
$L:  "only screen and (max-width : 1199px)";
$XL: "only screen and (max-width : 1499px)"; 
/* @media (--XXL) {}
@media (--XL) {}
@media (--L) {}
@media (--M) {}
@media (--S) {} */
